[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Gopi (Gopivj)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Gopi (Gopivj)
	label-Verified = -1..+1 group user/Gopi (Gopivj)
	push = group user/Gopi (Gopivj)
	read = group user/Gopi (Gopivj)
	rebase = group user/Gopi (Gopivj)
	removeReviewer = group user/Gopi (Gopivj)
	submit = group user/Gopi (Gopivj)
[access "refs/heads/*"]
	create = group user/Gopi (Gopivj)
	push = +force group user/Gopi (Gopivj)
	pushMerge = group user/Gopi (Gopivj)
	read = group user/Gopi (Gopivj)
[access "refs/tags/*"]
	push = group user/Gopi (Gopivj)
	push = +force group user/Gopi (Gopivj)
